#corpo {
    background: #7B68EE;
}

.container {
    background-image: url("../_images/woodbg_side.jpg");
    padding: 15px !important;
}

#principal {
    background-image: url("../_images/tinyguardians_header_center.png");
    background-repeat: no-repeat;
    width: 960px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
}

#social {
    float: right;
    margin-right: 50px;
}

#social #facebook {
    color: darkblue;
    padding-right: 5px;
}

#social #twitter {
    color: dodgerblue;
    padding-right: 5px;
    padding-left: 5px;
}

#social #instagram {
    color: orangered;
    padding-left: 5px;
}

#download {
    background-image: url("../_images/banner_top.png");
    background-repeat: no-repeat;
    width: 858px;
    height: 249px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#download p {
    text-align: center;
    font-size: 26px;
    color: #E9A938;
    text-shadow: 4px 4px #624560;
    padding-top: 50px;
}

#download_principal {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    margin-top: 30px;
}

#trailer {
    background-color: #F5DEB3;
    padding: 30px;
}

#trailer iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
}

#trailer button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#devlog {
    margin-top: 60px;
    background-color: #F5DEB3;
    padding: 40px;
}

#devlog iframe {
    width: 100%;
    height: 300px;
}

#devlog p {
    text-align: justify;
}

#quem {
    margin-top: 60px;
    background-color: #F5DEB3;
    padding: 40px;
}

#quem p {
    text-align: justify;
    margin-left: 180px;
    margin-right: 180px;
}

#footer {
    background-image: url("../_images/footer_tile.png");
    margin-top: 60px;
    padding: 60px;
    text-align: center;
}